<div id="mylist" *ngIf="voiture.length > 0; else elseBlock" class="list-group w-50 mx-auto">
    <!--<button (click)="showDialog('add')" type="button" class="btn btn-outline-primary mt-1">Ajouter</button> -->
    <!-- Liste des voiturex -->
    
    <div *ngFor="let li of voiture">
      <!-- Si le registrationNumber correspond à ce qu'on recherche alors on l'affiche -->
      <a class="list-group-item list-group-item-action rounded mt-3 border-top" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{li.brand}} - {{li.registrationNumber}} - {{li.vehiculeType}}</h5>
        </div>
  
        <hr class="w-75" /> <!-- Barre de séparation -->
  
        <!-- Descripton -->
        <p><b>Modèle</b> : {{li.model}}</p>
        <p><b>Catégorie</b> : {{li.category}} - {{li.gearbox}}</p>
        <p><b>Nombre de sièges</b> : {{li.seats}}</p>
        <p class="mt-3">{{li.comments}}</p>
        <p class="mt-3">Louée du {{li.start.toLocaleString()}} au {{li.end.toLocaleString()}}</p>
        <!-- Boutons -->
        <!--
        <div class="" style="display: flex; justify-content: flex-end;">
          <button (click)="deleteVoiture(li)" type="button" class="btn btn-danger btn-sm ms-1"><img
              style="width:1em;filter: invert(100%);"
              src="https://cdn-icons-png.flaticon.com/512/2891/2891491.png" /></button>
        </div>
      -->
        <div *ngIf="li.end < today" style="color:orange"> Passé </div>
        <div *ngIf="li.end > today && li.start < today" style="color:green"> En cours </div>
        <div *ngIf="li.start > today" style="color:green"> Bientôt<table></table> </div>
      </a>
    </div>
  </div>
  
  <ng-template #elseBlock>
    <h2 class="text-center mt-3">Il n'y a aucune voiture louée</h2>  
  </ng-template>

  <hr>
  <h2 class="text-center">Voiture en cours de validation : </h2>
  <div class="list-group w-50 mx-auto">
    <div *ngFor="let li of preVoiture">
      <div *ngIf="li.end >= today">
      <!-- Si le registrationNumber correspond à ce qu'on recherche alors on l'affiche -->
      <a class="list-group-item list-group-item-action rounded mt-3 border-top" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{li.brand}} - {{li.registrationNumber}} - {{li.vehiculeType}}</h5>
        </div>
  
        <hr class="w-75" /> <!-- Barre de séparation -->
  
        <!-- Descripton -->
        <p><b>Modèle</b> : {{li.model}}</p>
        <p><b>Catégorie</b> : {{li.category}} - {{li.gearbox}}</p>
        <p><b>Nombre de sièges</b> : {{li.seats}}</p>
        <p class="mt-3">{{li.comments}}</p>
        <p class="mt-3">Louée du {{li.start.toLocaleString()}} au {{li.end.toLocaleString()}}</p>
        <!-- Boutons -->
        <!--
        <div class="" style="display: flex; justify-content: flex-end;">
          <button (click)="deleteVoiture(li)" type="button" class="btn btn-danger btn-sm ms-1"><img
              style="width:1em;filter: invert(100%);"
              src="https://cdn-icons-png.flaticon.com/512/2891/2891491.png" /></button>
        </div>
      -->
        <div style="color:green">En cours de reservation<table></table> </div>
      </a>
    </div>
    </div>
  </div>

  